*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#page {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    width: 40%;
}

img{
    width: 100%;
}

.formGroup {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

input {
    width: 95%;
    height: 45px;
    border: none;
    border-bottom: 2px solid gray;
    padding: 5px;
    
}

table {
    width: 95%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    margin-top: 10px;
    padding: 15px;
}

button {
    width: 200px;
    height: 40px;
    background-color: #02ACAC;
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 5px 5px 10px rgba(128, 128, 128, 0.123);
}

#resultado {
    font-size: 20pt;
    font-weight: bold;
    text-align: center;
    color: rgb(219, 56, 56);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}